<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        video {
            border: 1px solid black;
            width:500px;
            height:500px;
        }
    </style>
</head>
<body>
    <video id="local" src="" autoplay></video>
    <div id="deviceList" style="display: flex;">
    </div>
    <script>
        var localVideo = document.getElementById('local');
        var localStream;
        
        navigator.mediaDevices.ondevicechange = findDevice;
        function findDevice() {
            navigator.mediaDevices.enumerateDevices().then(function(deviceInfos) {
                var device = {
                    'audio':false,
                    'video':false
                };
                var audios = [];
                var videos = [];

                //비디오, 오디오 분류
                deviceInfos.forEach(function(deviceInfo) {
                    if(deviceInfo.kind === 'audioinput') audios.push(deviceInfo.label);
                    if(deviceInfo.kind === 'videoinput') videos.push(deviceInfo.label);
                });

                appendDevice(audios, 'audioinput');
                appendDevice(videos, 'videoinput');

                //사용가능한 디바이스 체크
                if(audios.length != 0) device['audio'] = true;
                if(videos.length != 0) device['video'] = true;

                if(device['audio']||device['video']) {
                    navigator.mediaDevices.getUserMedia(device).then(function(stream) {
                        localStream = stream;
                        localVideo.srcObject = stream;
                    }).catch(function(err) {console.log(err)});
                }
            })
        };
        findDevice();
        
        //디바이스 리스트 추가
        function appendDevice(devices, type) {
            if(document.querySelector(`#${type} p`)) {
                document.getElementById('deviceList').removeChild(document.getElementById(type));
            }
            var div = document.createElement('div');
            div.setAttribute('id', type);
            for(i in devices) {
                var p = document.createElement('p');
                p.innerText = devices[i];
                div.appendChild(p);
            }
            document.getElementById('deviceList').appendChild(div);
        }
    </script>
</body>
</html>